/* base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  flex: 1;
  text-align: right;
}

.navbar .links {
  margin-left: auto;
  display: inline-block;
  margin-right: 20px;
}

.navbar a {
  display: inline-block;
  margin-right: 20px;
}
.navbar a:hover {
  color: #f1356d;
}

a {
  text-decoration: none;
  color: #555;
}
p {
  color: #555;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: flex;
  justify-content: space-around;
  padding-bottom: 30px;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
  text-align: center;
}

li:hover {
  text-shadow: 0 0 1px black;
}

.btn {
  display: inline-block;
  background: rgb(209, 48, 62);
  color: white;
  padding: 8px 30px;
  margin: 30px 10px;
  border-radius: 30px;
  transition: background 0.5s;
}

.btn:hover {
  background: rgb(116, 32, 39);
}

/* blog previews / list */
.item-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.item-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.item-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.item-preview a {
  text-decoration: none;
}

/* market details page */
.market-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.market-details div {
  margin: 20px 0;
}
.market-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new item form */
.CreateItem {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.CreateItem label {
  text-align: left;
  display: block;
  margin-bottom: 30px;
}
.CreateItem h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.CreateItem input,
.CreateItem textarea,
.CreateItem select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.CreateItem button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* */
.confirmation button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 10px;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}

nav {
  flex: 1;
  text-align: right;
}

.navbar .links {
  display: inline-right;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #555;
}
p {
  color: #555;
}
.container {
  max-width: 1400px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: flex;
  justify-content: space-around;
  padding-bottom: 30px;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
  text-align: center;
}

li:hover {
  text-shadow: 0 0 1px black;
}

.btn {
  display: inline-block;
  background: rgb(209, 48, 62);
  color: white;
  padding: 8px 30px;
  margin: 30px 10px;
  border-radius: 30px;
  transition: background 0.5s;
}

.btn:hover {
  background: rgb(116, 32, 39);
}

.header {
  background: rgb(255, 238, 238);
}

.header row {
  margin-top: 70px;
}

.categories {
  margin: 50px;
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 10px;
  transition: transform 0.5s;
}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-4 img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.col-3 img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.col-3 p,
.col-4 p {
  font-size: 14px;
}
.col-3:hover,
.col-4:hover {
  transform: translateY(-6px);
}

.col-b {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 10px;
  background-color: rgb(255, 238, 238);
  padding: 15px;
  transition: transform 0.5s;
}

.col-b p {
  font-size: 14px;
}
.col-b:hover {
  transform: translateY(-6px);
}

.small-container {
  max-width: 1200px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.title {
  text-align: center;
  margin: 0 auto 30px;
  position: relative;
  line-height: 60px;
  color: #555;
}

.title::after {
  content: "";
  background: rgb(209, 48, 62);
  width: 100px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

h4 {
  color: #555;
  font-weight: bolder;
}
